.logincontainer{
    max-width: 500px;
    padding-top: 20%;
}
.loginput{
    display: inline-block;
}

  .button-up{
    position: relative;
    padding: 5px;
    margin-top: 5px;
    background: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  
  .button-up:hover {
    transform: translate3d(10px, 0, 0);
  }
  
  .button-up::after{
    content: "";
    position: absolute;
    top: 14px;
    left: 12px;
    z-index: 11;
    display: block;
    width: 20px;
    height: 20px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
  }
  .button-up::after {
    right: 20px;
    transform: rotate(140deg);
  }
  .loginput:focus{
    border-color: black !important;
    outline:none !important;
    box-shadow: none !important;


  }
