<div class="container logincontainer align-middle">
    <div class="row">
        <div class="col-10">
            <div class="form-floating">
                <input type="text" class="form-control loginput" id="floatingInput" placeholder="Enter your username">
                <label for="floatingInput">Username</label>
               
            </div>
        </div>
        <div class="col-2">
            <div class="button-up" routerLink="selectstudent" (click)="handleLogin()"></div>
        </div>
    </div>
   
</div>
