<div class="container selectstucontain">
    <div type="button" class="container student-card d-flex align-items-center" (click)="handleClick()">
        <div class="row d-flex justify-content-start">
            <div class="col-3 stu-col">
                <img src="https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div class="col-6 stu-col text-center d-flex align-items-center">
                <h2>Student Name</h2>
            </div>
        </div>
    </div>
    <div type="button" class="container student-card d-flex align-items-center" (click)="handleClick()">
        <div class="row d-flex justify-content-start">
            <div class="col-3 stu-col">
                <img src="https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div class="col-6 stu-col text-center d-flex align-items-center">
                <h2>Student Name</h2>
            </div>
        </div>

    </div>
</div>
